<div class="side-nav-content">
    <div class="side-nav-section">
        Hi, I'm Jonathan, a front-end developer with 2 years of experience in Angular and React.  
        <br>
        I enjoy giving shape to ideas and creating pleasing and intuitive apps.
        <br>
        I feel confident about starting a new stage and using my knowledge in a different environment. 
        Always willing to learn and demonstrate my capability. 
    </div>
    <div class="side-nav-section">
        Spanish   :   Native 
        <br>
        English    :   Upper Intermediate 
        <br>
        Japanese:   Basic 
    </div>
    <div class="side-nav-section">
        <div class="row d-flex p-1">
            <div class="col-1">
                <img class="min-icon" src="assets/icons/mail.png" alt="">
            </div>
            <div class="col-12">
                jonathan.arroyo.dev@gmail.com   
            </div>
        </div>
        <div class="row d-flex p-1">
            <div class="col-1">
                <img class="min-icon" src="assets/icons/whatsapp1.png" alt="">
            </div>
            <div class="col-11">
                +52-6682712627 
            </div>
        </div>
        <div class="row d-flex p-1 align-items-center">
            <div class="col-2">
                <a href="https://github.com/jonathandeb" mat-icon-button class="link-icon" target="_blank">
                    <img class="min-icon" src="assets/icons/github.png" alt="">
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/jonathan-arroyo-852b30272" mat-icon-button class="link-icon" target="_blank">
                    <img class="min-icon2" src="assets/icons/linkedin.png" alt="">                      
                </a>
                <!-- <img class="min-icon2" src="assets/icons/linkedin.png" alt=""> -->
            </div>
        </div>        

       
    </div>
</div>